<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="My suite">
    <test name="Mobile Automation Test">
        <classes>
            <class name="com.automationMobile.tests.SignUpTest"></class>
            <class name="com.automationMobile.tests.LoginTest"></class>
            <class name="com.automationMobile.tests.NavigationTest"></class>
            <class name="com.automationMobile.tests.SwipeTest"></class>
        </classes>
    </test>
</suite>